
.gcloudignore
.dockerignore

.git
.gitignore

# MAC-OS & VScode 
.DS_Store
.idea/
.vscode/
jsconfig.json

#for GAE
app.yaml
main.py

# .env
*.env
envfile

# .log
**/*.log

#tutorial & notes
term/
tutorial*.md
datingApp_data.md

#redis & SQL
dump.rdb
whole*.json

# localhost test
local_supervisor_daphne.ini
local_supervisor_uwsgi.ini
local_uwsgi.ini