
.gcloudignore
.dockerignore

.git
.gitignore

# MAC-OS & VScode 
.DS_Store
.idea/
.vscode/
jsconfig.json

#for GAE
app.yaml
main.py

# .env
*.env

#tutorial & notes
term/
tutorial.md
datingApp_data.md

#redis & SQL
dump.rdb
db.sqlite3
pgdb*.sql
whole*.json