<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>ACard - AnonCard | 2021年台灣校園交友平台</title>
    <meta name="description" content="ACard(AnonCard)：2021年台灣校園交友平台，讓妳在任何一所學校與命中注定的他相遇！ 簡單易上手，取代繁瑣的資料填寫！ 完全地匿名性交友，不透露任何個人資料！">

    {%load static%}
    <script src="{% static 'js/jquery-3.6.0.min.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}"/>
    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css'%}"/>
    <script src="{% static '/js/jquery-ui.min.js'%}"></script>
    <script src="{% static '/js/jquery.fileupload.js'%}"></script>

    <link rel="stylesheet" href="{% static 'css/chatroom.css'%}"/>
    
    <script src="{% static 'js/test_db.js'%}"></script>
    <script src="{% static 'js/db.js'%}"></script>
    <script src="{% static 'js/chatroom.js'%}"></script>

</head>
<body>
    <div class="a-background" id = "background">
        <img src="/static/img/myBg1.jpeg" alt="background">
        <div class="a-mark" id='mark-before'>
            <img src='/static/img/mark/logo_acard.png' alt='mark'>
        </div>
        <div class="a-mark d-none" id='mark-after'>
            <img src='/static/img/mark/logo_acard.png' alt='mark'>
        </div>
        <div class="a-mark a-invisible-frame" id="circle">
            <img src='/static/img/mark/circle.png' alt='mark'>
        </div>
    </div>

    <div class="modal fade" id="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-label"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body" id="modal-content"></div>
            </div>
        </div>
    </div>

    <nav class="navbar a-div a-clr">
        <div class="container-fluid">
            <button class="navbar-toggler btn a-div a-clr" id='sidebar-btn' type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
                <i class="material-icons-outlined md-28">ads_click</i>
            </button>
            <span class="navbar-text a-font d-inline-flex align-items-center">

                <span class='a-matcher'>ACARD台北男</span>
                <i class="material-icons">sync_alt</i>
                <span class='a-self'>ACARD剛吃飽飯</span>

            </span>
            <span class="navbar-text">
                <i class="material-icons"></i>
                <i class="material-icons"></i>
                <i class="material-icons"></i>
                
                <button class="navbar-toggler btn a-div a-clr" id='leave-btn' type="button">
                    <i class="material-icons-outlined md-28">meeting_room</i>
                </button>

                <div class="btn-group">
                    <button class="navbar-toggler dropdown-toggle btn a-div a-clr" id='settings-btn' type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                        <i class="material-icons-outlined md-28">settings</i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="settings-btn">
                        <li><span class="dropdown-item-text">
                            <span>尋找對象：</span>
                            <span class="btn-group a-radio">
                            <input type="radio" class="btn-check" name="sex-radio" id="male-radio" autocomplete="off" checked>
                            <label class="btn btn-outline-dark" for="male-radio"><i class="material-icons-outlined md-18 align-text-top">male</i>找男生</label>
                            <input type="radio" class="btn-check" name="sex-radio" id="female-radio" autocomplete="off">
                            <label class="btn btn-outline-dark" for="female-radio"><i class="material-icons-outlined md-18 align-text-top">female</i>找女生</label>
                            </span>
                        </span></li>
                        <li><span class="dropdown-item-text">
                            <span>遊戲模式：</span>
                            <span class="btn-group a-radio">
                            <input type="radio" class="btn-check" name="mode-radio" id="normal-radio" autocomplete="off">
                            <label class="btn btn-outline-dark" for="normal-radio">正常模式</label>
                            <input type="radio" class="btn-check" name="mode-radio" id="adult-radio" autocomplete="off" checked>
                            <label class="btn btn-outline-dark" for="adult-radio">成人模式</label>
                            </span>
                        </span></li>
                        <li><span class="dropdown-item-text"></span></li>
                    </ul>
                </div>

                <div class="btn-group">
                    <button class="navbar-toggler dropdown-toggle btn a-div a-clr" id='account-btn' type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="material-icons-outlined md-28">account_circle</i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="account-btn">
                        <li><span class="dropdown-item-text a-point py-3"><span class='h5'>jasonhsieh@gmail.com</span><span class='h6 d-block mt-1 mb-0'>性別:男</span></span></li>
                        <li><button class="dropdown-item py-1" type="button"><i class="material-icons-outlined md-18 align-text-top">logout</i> Logout</button></li>

                        <li><button class="dropdown-item a-point py-3" type="button"><i class="material-icons-outlined md-18 align-text-top">assignment_ind</i> Sign Up</button></li>
                        <li><button class="dropdown-item py-1" type="button"><i class="material-icons-outlined md-18 align-text-top">login</i> Login</button></li>
                    </ul>
                </div>

            </span>
        </div>
    </nav>

    <div id='sidebar' class='offcanvas offcanvas-start a-sidebar' tabindex="-1" aria-labelledby="sidebar-btn">
        <div class="offcanvas-header">
            <div class='offcanvas-title a-sidebar h5'>A-LARP 匿名劇本殺</div>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body a-sidebar">
            <div class="outer-scrollbar">
                <div class="inner-scrollbar">
                    <div class='a-div a-sidebar'>
                        <div>目前所在學校：</div>
                        <div class='d-flex justify-content-between'>
                            <span class='a-school a-sidebar' data-bs-toggle="tooltip" data-bs-placement="right" title="NTU 國立台灣大學" id='school'>NTU 國立台灣大學</span>
                            <button id="goto-btn" class="btn btn-link a-sidebar" type="button">前往..</button>
                        </div>
                        
                    </div>
                    <div class='a-div a-sidebar d-flex'>
                        <div class='a-circle a-sidebar a-female' id="user-tag">小</div>
                        <div class='ps-1 flex-grow-1'>
                            <div class='d-flex justify-content-between'>
                                <span class='a-title a-sidebar' data-bs-toggle="tooltip" data-bs-placement="right" title="小小公主" id="user-name">小小公主</span>
                                <button class="btn btn-link a-sidebar disabled" id="name-btn" type="button">更改..</button>
                            </div>
                            <div class='a-sub a-sidebar' id='user-role'>(偵探)</div>
                        </div>
                    </div>
                    
                    <div class='a-div a-sidebar'>
                        <p class="h5">其他玩家：</p>
                        <div class='list-group list-group-flush w-100'>
                            <div class='list-group-item list-group-item-action a-div d-flex'>
                                <div class='a-circle a-sidebar a-male'>大</div>
                                <div class='ps-1 pt-1 flex-grow-1'>
                                    <div class='d-flex'><span class='a-title a-sidebar' data-bs-toggle="tooltip" data-bs-placement="right" title="大大人類大大人類大大人類大大人類大大人類">大大人類大大人類大大人類大大人類大大人類大大人類大大人類</span></div>
                                    <div class='a-sub a-sidebar'>(同系學長)</div>
                                </div>
                            </div>
                            <div class='list-group-item list-group-item-action a-div d-flex'>
                                <div class='a-circle a-sidebar a-male'>超</div>
                                <div class='ps-1 pt-1 flex-grow-1'>
                                    <div class='d-flex'><span class='a-title a-sidebar' data-bs-toggle="tooltip" data-bs-placement="right" title="超大人類">超大人類</span></div>
                                    <div class='a-sub a-sidebar'>(通識課同學)</div>
                                </div>
                            </div>
                            <div class='list-group-item list-group-item-action a-div d-flex'>
                                <div class='a-circle a-sidebar a-male'>巨</div>
                                <div class='ps-1 pt-1 flex-grow-1'>
                                    <div class='d-flex'><span class='a-title a-sidebar' data-bs-toggle="tooltip" data-bs-placement="right" title="巨大人類">巨大人類</span></div>
                                    <div class='a-sub a-sidebar'>(酒吧老闆)</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class='a-div a-sidebar' id='user-empty'>沒有其他玩家，你還沒進入遊戲哦。</div>
                </div>
            </div>
        </div>
        <div class='offcanvas-footer a-sidebar text-center my-3'>
            <button class="btn btn-warning" id="start-btn" type="button">遊戲開始</button>
        </div>
        
    </div>

    <div class="a-section a-height">
        <div class="a-container a-clr">
            <div class="outer-scrollbar">
                <div class="inner-scrollbar" id='dialog'>
                    <div id='writing' class="a-chat d-none d-flex">
                        <p class="a-dialogdiv a-matcher a-clr d-inline-flex">
                            <span class="a-tri a-matcher"></span>
                            <span  class="a-writing">正在輸入...</span> 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form id="send-form" target="_hidden" class="a-footer">
        {% csrf_token %} 
        <div class="input-group a-div a-clr">
            <input class="a-input a-clr form-control" id="send-text" type="text" placeholder="說什麼呢..." name="send-text">
            <input class="d-none form-control" id="send-hidden" type="text" name="send-hidden">
            <input class="d-none form-control" id="send-tag" type="text" name="send-tag">
            <button class="btn" id="send-btn" type="button">傳送</button>
            <input class="d-none form-control" id="send-img" type="file" name="send-img" data-url="upload_photo" accept="image/*" multiple>
        </div>
    </form>
</body>
</html>