<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>ACard - AnonCard | 2021年台灣校園交友平台</title>
    <meta name="description" content="ACard(AnonCard)：2021年台灣校園交友平台，讓妳在任何一所學校與命中注定的他相遇！ 簡單易上手，取代繁瑣的資料填寫！ 完全地匿名性交友，不透露任何個人資料！">

    {%load static%}
    <script src="{% static 'js/jquery-3.6.0.min.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}"/>
    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css'%}"/>
    <script src="{% static '/js/jquery-ui.min.js'%}"></script>
    <script src="{% static '/js/jquery.fileupload.js'%}"></script>

    <link rel="stylesheet" href="{% static 'css/chatroom.css'%}"/>
    
    <script src="{% static 'js/test_db.js'%}"></script>
    <script src="{% static 'js/db.js'%}"></script>
    <script src="{% static 'js/chatroom.js'%}"></script>

</head>
<body>
    <div class="a-background" id = "background">
        <img src="/static/img/myBg1.jpeg" alt="background">
        <div class="a-mark" id='mark-before'>
            <img src='/static/img/mark/logo_acard.png' alt='mark'>
        </div>
        <div class="a-mark d-none" id='mark-after'>
            <img src='/static/img/mark/logo_acard.png' alt='mark'>
        </div>
        <div class="a-mark a-invisible-frame" id="circle">
            <img src='/static/img/mark/circle.png' alt='mark'>
        </div>
    </div>

    <div class="modal fade" id="warning-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="warning-modal-label"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body" id="warning-modal-content"></div>
            </div>
        </div>
    </div>

    <nav class="navbar a-clr">
        <div class="container-fluid">
            <button class="navbar-toggler btn a-clr" id='sidebar-btn' type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
                <i class="material-icons a-sidebar-btn">format_align_left</i>
            </button>
            <span class="navbar-text a-font d-inline-flex align-items-center">
                <span class='a-matcher'>ACARD台北男</span>
                <i class="material-icons">sync_alt</i>
                <span class='a-self'>ACARD剛吃飽飯</span>
            </span>
            <span class="navbar-text a-type">
                <i class="material-icons"></i>
                <i class="material-icons"></i>
                <i class="material-icons"></i>
            </span>
        </div>
    </nav>

    <div id='sidebar' class='offcanvas offcanvas-start a-sidebar' tabindex="-1" >
        <div class="offcanvas-header">
            <div class='offcanvas-title a-sidebar'>COMMAND指令集</div>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body a-sidebar">
            <div class="outer-scrollbar">
                <div class="inner-scrollbar">
                    <div class='list-group list-group-flush'>
                        <button class='list-group-item list-group-item-action a-point' type="button" ondblclick="cmdBySidebar(this)" data-bs-toggle="tooltip" data-bs-placement="right" title="前往你想去的學校(學校請輸入英文縮寫 像是:ntu, nccu, tku...等)">前往(goto)：<br><span class='a-cmd'>/go {school_id}</span></button>
                        <button class='list-group-item list-group-item-action a-point' type="button" ondblclick="cmdBySidebar(this)" data-bs-toggle="tooltip" data-bs-placement="right" title="設置配對時使用的暱稱與配對類型(配對類型為:fm, mf, mm, ff 四種。 分別為女找男, 男找女, 男找男, 女找女)">設置暱稱(profile)：<br><span class='a-cmd'>/p {your_name} {match_type}</span></button>
                        <button class='list-group-item list-group-item-action a-point' type="button" ondblclick="cmdBySidebar(this)" data-bs-toggle="tooltip" data-bs-placement="right" title="更改當前的暱稱">改名(rename)：<br><span class='a-cmd'>/n {new_name}</span></button>
                        <button class='list-group-item list-group-item-action a-point' type="button" ondblclick="cmdBySidebar(this)" data-bs-toggle="tooltip" data-bs-placement="right" title="開始配對並進入等待時間">配對(match)：<br><span class='a-cmd'>/m</span></button>
                        <button class='list-group-item list-group-item-action a-point' type="button" ondblclick="cmdBySidebar(this)" data-bs-toggle="tooltip" data-bs-placement="right" title="重新填答配對的問題">重新配對(retest)：<br><span class='a-cmd'>/t</span></button>
                        <button class='list-group-item list-group-item-action a-point' type="button" ondblclick="cmdBySidebar(this)" data-bs-toggle="tooltip" data-bs-placement="right" title="以成人模式開始配對，並增加配對附圖功能">成人模式配對(adult)：<br><span class='a-cmd'>/a</span></button>
                        <button class='list-group-item list-group-item-action a-point' type="button" ondblclick="cmdBySidebar(this)" data-bs-toggle="tooltip" data-bs-placement="right" title="傳圖功能，必須與他人連線成功後才能使用">傳圖(@)：<br><span class='a-cmd'>/@</span></button>
                        <button class='list-group-item list-group-item-action a-point' type="button" ondblclick="cmdBySidebar(this)" data-bs-toggle="tooltip" data-bs-placement="right" title="離開連線狀態或等待狀態">離開(leave)：<br><span class='a-cmd'>/le</span></button>
                        <button class='list-group-item list-group-item-action a-point' type="button" ondblclick="cmdBySidebar(this)" data-bs-toggle="tooltip" data-bs-placement="right" title="再次配對或重新等待">換人(change)：<br><span class='a-cmd'>/cg</span></button>
                        <button class='list-group-item list-group-item-action a-point' type="button" ondblclick="cmdBySidebar(this)" data-bs-toggle="tooltip" data-bs-placement="right" title="重置所有資料">重置(reset)：<br><span class='a-cmd'>/r</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="a-section a-height">
        <div class="a-container a-pa a-clr">
            <div class="outer-scrollbar">
                <div class="inner-scrollbar" id='dialog'>
                    <div id='writing' class="a-chat d-none d-flex">
                        <p class="a-dialogdiv a-matcher a-pa a-clr d-inline-flex">
                            <span class="a-tri a-matcher"></span>
                            <span  class="a-writing">正在輸入...</span> 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form id="send-form" target="_hidden" class="a-footer">
        {% csrf_token %} 
        <div class="input-group a-pa a-clr">
            <input class="a-input a-clr form-control" id="send-text" type="text" placeholder="說什麼呢..." name="send-text">
            <input class="d-none form-control" id="send-hidden" type="text" name="send-hidden">
            <input class="d-none form-control" id="send-tag" type="text" name="send-tag">
            <button class="btn" id="send-btn" type="button">傳送</button>
            <input class="d-none form-control" id="send-img" type="file" name="send-img" data-url="upload_photo" accept="image/*" multiple>
        </div>
    </form>
</body>
</html>