<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>ACard - AnonCard</title>
    {%load static%}
    <script src="{% static 'js/jquery-3.6.0.min.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}"/>
    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css'%}"/>
    <script src="{% static '/js/jquery-ui.min.js'%}"></script>
    <script src="{% static '/js/jquery.fileupload.js'%}"></script>

    <link rel="stylesheet" href="{% static 'css/chatroom.css'%}"/>
    <script src="{% static 'js/chatroom.js'%}"></script>

</head>
<body>
    <div class="a-background">
        <img src="/static/img/myBg1.jpeg" alt="background">
        <div class="a-mark" id='mark-before'>
            <img src='/static/img/mark/logo_acard.png' alt='mark'>
        </div>
        <div class="a-mark d-none" id='mark-after'>
            <img src='/static/img/mark/logo_acard.png' alt='mark'>
        </div>
        <div class="a-mark a-invisible-frame" id="circle">
            <img src='/static/img/mark/circle.png' alt='mark'>
        </div>
    </div>

    <div class="modal fade" id="warning-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="warning-modal-label"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body" id="warning-modal-content"></div>
            </div>
        </div>
    </div>

    <nav class="navbar a-clr">
        <div class="container-fluid">
            <button class="navbar-toggler btn a-clr" id='sidebar-btn' type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
                <i class="material-icons a-sidebar-btn">format_align_left</i>
            </button>
            <span class="navbar-text a-font d-inline-flex align-items-center">
                <span class='a-name a-matcher'>ACARD台北男</span>
                <i class="material-icons a-match">sync_alt</i>
                <span class='a-name a-self'>ACARD剛吃飽飯</span>
            </span>
            <span class="navbar-text"></span>
        </div>
    </nav>

    <div id='sidebar' class='offcanvas offcanvas-start a-sidebar' tabindex="-1" >
        <div class="offcanvas-header">
            <div class='offcanvas-title a-sidebar'>COMMAND指令集</div>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body a-sidebar">
            <div class="outer-scrollbar">
                <div class="inner-scrollbar">
                    <div class='list-group list-group-flush'>
                        <button class='list-group-item list-group-item-action' data-bs-toggle="tooltip" data-bs-placement="right" title="移動到你想去的學校(學校請輸入英文縮寫)">前往：<span class='a-cmd'>/goto NTU(/go NTU)</span></button>
                        <button class='list-group-item list-group-item-action'>離開：<span class='a-cmd'>/leave (/le)</span></button>
                        <button class='list-group-item list-group-item-action'>換人：<span class='a-cmd'>/change (/cg)</span></button>
                        <button class='list-group-item list-group-item-action'>配對：<span class='a-cmd'>/match (/m)</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="a-section a-height">
        <div class="a-container a-pa a-clr">
            <div class="outer-scrollbar">
                <div class="inner-scrollbar" id='dialog'>

                    <div class="mb-2 text-center d-none">
                        <div class="a-dialogdiv a-widget a-pa">
                            <div class="a-clock"> </div>
                        </div>
                        
                    </div>

                    <div class="mb-2 text-center">
                        <p class="a-dialogdiv a-sys a-pa a-clr">
                            <span class="a-sys a-font">==========進入聊天室==========</span>
                        </p>
                    </div>

                    <div class="mb-2 d-flex">
                        <p class="a-dialogdiv a-matcher a-pa a-clr d-inline-flex">
                            <span class='a-tri a-matcher'></span>
                            <span>哈囉</span>
                        </p>
                        <span class="a-status a-matcher">8:30 AM</span>
                    </div>
                
                    <div class="mb-2 justify-content-end d-flex">
                        <span class="a-status a-self text-end">
                            <span class='d-block'>(已送達)</span>
                            <span class='d-block'>2:45 PM</span>
                        </span>
                        <p class="a-dialogdiv a-self a-pa a-clr d-inline-flex">
                            <span class='a-tri a-self'></span>
                            <span>hello</span>
                        </p>
                    </div>

                    <div class="mb-2 d-flex">
                        <p class="a-dialogdiv a-matcher a-pa a-clr d-inline-flex">
                            <span class='a-tri a-matcher'></span>
                            <span>哈囉2</span>
                        </p>
                        <span class="a-status a-matcher">8:30 AM</span>
                    </div>

                    <div class="mb-2 d-flex">
                        <p class="a-dialogdiv a-matcher a-pa a-clr d-inline-flex">
                            <span class='a-tri a-matcher'></span>
                            <span>哈囉3</span>
                        </p>
                        <span class="a-status a-matcher">8:30 AM</span>
                    </div>

                    <div class="mb-2 d-flex">
                        <p class="a-dialogdiv a-matcher a-pa a-clr d-inline-flex">
                            <span class='a-tri a-matcher'></span>
                            <span>哈囉你好嗎哈囉你好嗎哈囉你好嗎哈囉你好嗎哈囉你好嗎哈囉你好嗎哈囉你好嗎哈囉你好嗎哈囉你好嗎哈囉你好嗎哈囉你好嗎哈囉你好嗎哈囉你好嗎哈囉你好嗎哈囉你好嗎哈囉你好嗎哈囉你好嗎哈囉你好嗎哈囉你好嗎哈囉你好嗎哈囉你好嗎哈囉你好嗎哈囉你好嗎哈囉你好嗎哈囉你好嗎哈囉你好嗎哈囉你好嗎哈囉你好嗎哈囉你好嗎哈囉你好嗎哈囉你好嗎</span>
                        </p>
                        <span class="a-status a-matcher">11:30 AM</span>
                    </div>
                
                    <div class="mb-2 justify-content-end d-flex">
                        <span class="a-status a-self text-end">
                            <span class='d-block'>(已送達)</span>
                            <span class='d-block'>10:00 PM</span>
                        </span>
                        <p class="a-dialogdiv a-self a-pa a-clr d-inline-flex">
                            <span class='a-tri a-self'></span>
                            <span>Set the direction of flex items in a flex container with direction utilities. In most cases you can omit the horizontal class here as the browser default is row. However, you may encounter situations where you needed to explicitly set this value (like responsive layouts).</span>
                        </p>
                    </div>

                    <div class="mb-2 flex-column d-flex a-q">
                        <div class="a-dialogdiv a-matcher a-question a-pa a-clr d-inline">
                            <p class='w-100 m-2'> 這裡的所有動作都是以指令構成，請先移動到你想交友的學校吧！ it's a question?</p>
                        </div>
                        <div class="a-dialogdiv a-matcher a-answer a-pa a-clr justify-content-evenly d-flex">
                            <p class='a-choice a-left d-inline-flex a-0'>是</p><p></p><p class='a-choice a-right d-inline-flex a-1'>否</p>
                        </div>
                    </div>

                    <div class="mb-2 flex-column d-flex a-q">
                        <div class="a-dialogdiv a-matcher a-question a-pa a-clr d-inline">
                            <p class='w-100 m-2'> 這裡的所有動作都是以指令構成，請先移動到你想交友的學校吧！ it's a question?</p>
                        </div>
                        <div class="a-dialogdiv a-matcher a-answer a-pa a-clr justify-content-evenly d-flex">
                            <p class='a-choice a-top d-inline-flex a-0'>前往</p>
                        </div>
                    </div>

                    <div class="mb-2 flex-column d-flex a-q">
                        <div class="a-dialogdiv a-matcher a-question a-pa a-clr d-inline">
                            <p class='w-100 m-2'> 這裡的所有動作都是以指令構成，請先移動到你想交友的學校吧！ it's a question?</p>
                        </div>
                        <div class="a-dialogdiv a-matcher a-answer a-mid a-pa a-clr justify-content-evenly d-flex">
                            <p class='a-choice a-left d-inline-flex a-0'>1</p><p></p><p class='a-choice a-right d-inline-flex a-1'>2</p>
                        </div>
                        <div class="a-dialogdiv a-matcher a-answer a-pa a-clr justify-content-evenly d-flex">
                            <p class='a-choice a-left d-inline-flex a-2'>3</button><p></p><p class='a-choice a-right d-inline-flex a-3'>4</button>
                        </div>
                    </div>


                    <div id='writing' class="mb-2 d-none d-flex">
                        <p class="a-dialogdiv a-matcher a-pa a-clr d-inline-flex">
                            <span class="a-tri a-matcher"></span>
                            <span  class="a-writing">正在輸入...</span>
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form id="send-form" target="_hidden" class="a-footer">
        {% csrf_token %} 
        <div class="input-group a-pa a-clr">
            <input class="a-input a-clr form-control" id="send-text" type='text' placeholder="說什麼呢..." name="send-text">
            <button class="btn" id="send-btn" type="button">傳送</button>
            <input class='d-none form-control' id='send-img' type='file' name='send-img' data-url='chat/upload_photo' accept='image/*' multiple>
        </div>
    </form>
</body>
</html>