{% extends "chat/chatroom.html" %}
{% block script_file %}
{%load static%}
<script src="{% static 'chat/js/db_cheat_game.js'%}"></script>
<script src="{% static 'chat/js/game_cheat_game.js'%}"></script>
<link rel="stylesheet" href="{% static 'chat/css/game_cheat_game.css'%}"/>
{% endblock %}

{% block background %}
<img src="/static/chat/img/barBg1.jpeg" alt="game-background">
{% endblock %}

{% block modalForm %}
<form class='d-none' id="match-modal-form">
    <div class="modal-body">
        <div class="mb-3"><p>確定要配對{}？</p></div>
        <p class='text-danger p-1 a-error'>* 只能配對一位玩家，若對方接受你的邀請，則兩人成功配對。</p>
    </div>
    <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
        <button class="btn btn-warning" type="submit">確定</button>
    </div>
</form>

<form class='d-none' id="pass-modal-form">
    <div class="modal-body">
        <div class="mb-3"><p>確定要傳紙條給{}嗎？</p></div>
        <p class='text-danger p-1 a-error'>* 每一輪只能傳紙條給一位玩家，若對方同意換紙條，則兩人的紙條互換。</p>
    </div>
    <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
        <button class="btn btn-warning" type="submit">確定</button>
    </div>
</form>

{% endblock %}

{% block players %}
<div class='list-group list-group-flush w-100' id='player-list'>
    {% for i in range %}
    <div class="list-group-item list-group-item-action a-div d-flex d-none" id="player-{{i}}">
        <div class='a-circle a-sidebar'></div>
        <div class='ps-1 pt-1 flex-grow-1'>
            <div class='d-flex justify-content-between'>
                <div class='mb-0 a-player a-sidebar'><span class='a-title a-sidebar' data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="name">name</span><span class='a-onoff a-sidebar'></span></div>
                <button class="btn btn-warning btn-sm" id="player-{{i}}-btn" type="button">互動</button>
            </div>
            <div class='a-sub a-sidebar'></div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block sidebar %}
<div class="a-div a-sidebar">
    <p class="h5">物品欄：</p>
    <div class="list-group list-group-flush mx-2" id="game-inventory">
    </div>
</div>
{% endblock %}

{% block stripbar_players %}
<div class="a-stripbar-div py-1 d-flex flex-column align-items-center" id="stripbar-players">
    {% for i in range %}
    <div id="player-{{i}}-strip" class="d-none" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="互動(disabled)">
        <button type="button" class="btn my-1" id="player-{{i}}-strip-btn" disabled="disabled">
            <div class="a-circle"></div>
        </button>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block stripbar %}
<div class="a-stripbar-div py-1 d-flex flex-column align-items-center" id="stripbar-inventory">
</div>
{% endblock %}

{% block gameModal %}
<div class="modal fade" id="inventory-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <p class="h5 modal-title">物 品 名 稱</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <form id="inventory-modal-content">
            </form>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">關閉</button>
                </div>
            
        </div>
    </div>
</div>
{% endblock %}